<canvas id="canvas" width="860" height="450"></canvas>
<!-- <div class="range-slider">
    <input class="range-slider__range" type="range" value="100" min="0" max="500">
    <span class="range-slider__value">0</span>
</div> -->

<!-- <div class="waii-chart-slider-container">
    <div id="slider" class="waii-chart-slider">
        <div class="range-slider">
            <input class="range-slider__range" type="range" [value]="user.desiredRetirementAge" [min]="minSLiderVal"
                [max]="maxSLiderVal">
            <div class="slider-value"></div>
        </div>
    </div>
</div> -->