@import "../../../styles/abstracts/variables";
$borderRedius: 8px;
$goalColor: #333333; 

@mixin font($val) {
    font-size: unquote($val + ' !important');
}

.graphDiv {
    border-radius: $borderRedius;
}

.fullHeight{
    height:100%;
}

.modal-content {
    background-color: transparent;
    @extend .fullHeight;
}

.formContent {
    background-color: white !important;
    @extend .fullHeight;
}

.your-goals {
    /*height: 37px;
    width: 201px;*/
    color: $goalColor;
}

.m-card {
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
    padding: 15px !important;
    border-radius: $borderRedius;
}

img {
    height: 48px !important;
    width: 48px !important;
}

.name {
    color: $goalColor;
    font-family: unquote($fontFamily);
    @include font(14px);
    font-weight: 500;
    line-height: 16px;
}
.amount {
    color: $goalColor;
    font-family: unquote($fontFamily);
    @include font(16px);
    font-weight: bold;
    line-height: 19px;
}






