<div [@routerTransition]>
    <div class="m-content">
        <div class="m-portlet m-portlet--mobile">
            <div class="m-portlet__body">
                <div class="m-form m-form--label-align-right">
                    <div class="row align-items-center m--margin-bottom-10">
                        <div class="col-xl-12">
                            <button (click)="yourGoalModal.show()" class="btn btn-primary"> {{"Goal Setting" | localize}}</button>		            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <yourGoalModal #yourGoalModal></yourGoalModal>
</div>
